<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SaveOpportunityServlet</servlet-name>
  	<display-name>SaveOpportunityServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SaveOpportunityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveContractServlet</servlet-name>
  	<display-name>SaveContractServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SaveContractServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SavePoServlet</servlet-name>
  	<display-name>SavePoServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SavePoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveInvoiceServlet</servlet-name>
  	<display-name>SaveInvoiceServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SaveInvoiceServlet</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>SaveLoginServlet</servlet-name>
  	<display-name>SaveLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.SaveLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteOpportunityServlet</servlet-name>
  	<display-name>DeleteOpportunityServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeleteOpportunityServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteContractServlet</servlet-name>
  	<display-name>DeleteContractServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeleteContractServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletePoServlet</servlet-name>
  	<display-name>DeletePoServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeletePoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteInvoiceServlet</servlet-name>
  	<display-name>DeleteInvoiceServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeleteInvoiceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateOpportunityServlet</servlet-name>
  	<display-name>UpdateOpportunityServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.UpdateOpportunityServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>UpdateContractServlet</servlet-name>
  	<display-name>UpdateContractServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.UpdateContractServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateInvoiceServlet</servlet-name>
  	<display-name>UpdateInvoiceServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.UpdateInvoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveOpportunityServlet</servlet-name>
  	<url-pattern>/SaveOpportunityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveContractServlet</servlet-name>
  	<url-pattern>/SaveContractServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SavePoServlet</servlet-name>
  	<url-pattern>/SavePoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveInvoiceServlet</servlet-name>
  	<url-pattern>/SaveInvoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveLoginServlet</servlet-name>
  	<url-pattern>/SaveLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteOpportunityServlet</servlet-name>
  	<url-pattern>/DeleteOpportunityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteContractServlet</servlet-name>
  	<url-pattern>/DeleteContractServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePoServlet</servlet-name>
  	<url-pattern>/DeletePoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteInvoiceServlet</servlet-name>
  	<url-pattern>/DeleteInvoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateOpportunityServlet</servlet-name>
  	<url-pattern>/UpdateOpportunityServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>UpdateContractServlet</servlet-name>
  	<url-pattern>/UpdateContractServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateInvoiceServlet</servlet-name>
  	<url-pattern>/UpdateInvoiceServlet</url-pattern>
  </servlet-mapping>
</web-app>
